##
# This file is part of the pl.wrzasq.commons.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2023, 2026 © by Rafał Wrzeszcz - Wrzasq.pl.
##

version: 2
updates:
    -
        package-ecosystem: "cargo"
        directory: "/"
        schedule:
            interval: "daily"
        groups:
            aws-sdk:
                patterns:
                    - "aws-config"
                    - "aws-sdk-*"
                    - "aws-smithy-*"
                    - "lambda_runtime"
            tracing:
                patterns:
                    - "tracing"
                    - "tracing_*"
    -
        package-ecosystem: "github-actions"
        directory: "/"
        schedule:
            interval: "daily"
