##
# This file is part of the pl.wrzasq.commons.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2023 © by Rafał Wrzeszcz - Wrzasq.pl.
##

# IntelliJ IDE files
/.idea
/**/*.iml

# project builds
/build-info.json
/**/target
/cobertura.xml
# log files
/**/*.log
