##
# This file is part of the ChillDev-Commons.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2014 - 2016 © by Rafał Wrzeszcz - Wrzasq.pl.
##

# Eclipse IDE files
/**/.classpath
/**/.project
/**/.settings

# IntelliJ IDE files
/.idea
/**/*.iml

# project builds
/**/target
