##
# This file is part of the pl.wrzasq.commons.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2023 - 2025 © by Rafał Wrzeszcz - Wrzasq.pl.
##

[package]
name = "wrzasqpl-commons-aws"
version = "3.5.27"
edition = "2024"
license = "MIT"
description = "AWS-related utility functions for commor routines."
repository = "https://github.com/rafalwrzeszcz-wrzasqpl/wrzasqpl-commons"
homepage = "https://wrzasq.pl/"
readme = "../README.md"
authors = [
    "Rafał Wrzeszcz <rafal.wrzeszcz@wrzasq.pl>"
]
keywords = ["aws", "lambda", "dynamodb"]

[dependencies]
aws-config = "1.8.10"
aws-sdk-dynamodb = "1.97.0"
aws-smithy-runtime-api = "1.9.2"
env_logger = "0.11.8"
futures = "0.3.31"
lambda_runtime = "0.14.4"
log = "0.4.28"
serde = { version = "1.0.228", features = ["derive"] }
serde_dynamo = { version = "4.3.0", features = ["aws-sdk-dynamodb+1"] }
thiserror = "2.0.17"
tracing = "0.1.41"
tracing-core = "0.1.34"
tracing-subscriber = "0.3.20"
xray-tracing = "0.0.1"

[dev-dependencies]
aws-smithy-types = "1.3.3"
test-context = "0.5.1"
tokio = { version = "1.48.0", features = ["macros"] }
