##
# This file is part of the pl.wrzasq.commons.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2023 - 2025 © by Rafał Wrzeszcz - Wrzasq.pl.
##

on:
    push:
        tags-ignore: "**"
        branches: "**"
    pull_request:
        branches: "**"
    schedule:
        -
            cron: "0 3 * * 0"

env:
    SCCACHE_GHA_ENABLED: "true"

jobs:
    build:
        runs-on: "ubuntu-24.04"
        if: "(github.event_name == 'push') || (github.repository != github.event.pull_request.head.repo.full_name)"
        container:
            image: "rafalwrzeszczwrzasqpl/build-rust:nightly-v0.5.0"
        services:
            dynamodb:
                image: "amazon/dynamodb-local:3.1.0"
        steps:
            -
                uses: "actions/checkout@v6.0.0"
            -
                uses: "mozilla-actions/sccache-action@v0.0.9"
            -
                uses: "crazy-max/ghaction-github-runtime@v3.1.0"
            -
                run: "make test"
                env:
                    AWS_REGION: "eu-central-1"
                    AWS_ACCESS_KEY_ID: "dummy"
                    AWS_SECRET_ACCESS_KEY: "dummy"
                    DYNAMODB_LOCAL_HOST: "http://dynamodb:8000"
            -
                run: "make check"
            -
                run: "make doc"
            -
                run: "make lcov"
            -
                uses: "codecov/codecov-action@v5.5.1"
                with:
                    token: "${{ vars.CODECOV_TOKEN }}"
                    flags: "unittests,rust"
                    fail_ci_if_error: true
                    verbose: true

    release:
        if: "(github.event_name == 'push') && (github.event.ref == 'refs/heads/master')"
        runs-on: "ubuntu-24.04"
        container:
            image: "rafalwrzeszczwrzasqpl/build-rust:nightly-v0.5.0"
        needs: "build"
        permissions:
            contents: "write"
            id-token: "write"
        steps:
            -
                uses: "actions/checkout@v6.0.0"
            -
                uses: "mozilla-actions/sccache-action@v0.0.9"
            -
                uses: "crazy-max/ghaction-github-runtime@v3.1.0"
            -
                run: |
                    git config --global user.name "GitHub Actions"
                    git config --global user.email "office@wrzasq.pl"
                    git config --global --add safe.directory "$GITHUB_WORKSPACE"
            -
                run: "cargo release patch --workspace --execute --no-confirm --all-features --tag-name 'release-{{version}}' --no-push"
                env:
                    CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"
            -
                uses: "ad-m/github-push-action@v1.0.0"
                with:
                    github_token: "${{ secrets.GITHUB_TOKEN }}"
                    branch: "${{ github.ref }}"
